:host {
    display: block;
    width: 100%;

    background-color: rgba(0,0,0,0.5);
    background-color: var(--theme-secondary-dark, rgba(0,0,0,0.5));

    color: #fff;
    color: var(--theme-primary-text-on-dark, #fff);
}

a, a:link, a:visited, a:hover {
    color: #fff;
    color: var(--theme-primary-text-on-dark, #fff);

    text-decoration: none;
}

#overview {
    padding: 1em 0 0 1em;

    font-size: 1rem;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    padding: 0.25rem 0 1rem 1rem;

    font-size: 1.5rem;
    line-height: 2rem;

    font-weight: 500;

    text-transform: uppercase;
}

h2 {
    margin: -0.75rem 0 0 0;
    padding: 0 0 1rem 1rem;

    font-size: 1rem;
    line-height: 1.1rem;

    font-weight: 300;
}