#entry {
    background-color: #fff;
}

a, a:link, a:visited, a:hover {
    color: #000;
    color: var(--theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
    text-decoration: none;
}

ui-card-header > i {
    line-height: 2rem;
    font-size: 0.8rem;
    vertical-align: top;

    cursor: pointer;
}