html {
    --theme-primary-dark: rgba(0,0,0,1);
    --theme-primary-light: rgba(255,255,255,1);

    --theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --theme-text-primary-on-dark: rgba(255,255,255,1);

    --theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
}