#apiarylist {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
}

#apiarylist > beekeeper-apiaryentry {
    flex: 1 1 auto;
    margin: 0.5rem;
}