<beekeeper-hiveinfo [currentCollection]="currentCollection">
</beekeeper-hiveinfo>
<ui-card *ngIf="hive">
    <ui-card-content>
        <ui-card-header>{{hive.name}}</ui-card-header>
        <ui-card-subheading>
            <i class="fa fa-archive"></i> {{hive.type}}</ui-card-subheading>
        <ui-card-subheading *ngIf="hive.description">{{hive.description}}</ui-card-subheading>
    </ui-card-content>
    <ui-card-content class="rating">
        <div>
            {{hive.currentSubjectiveHealth}}
        </div>
        <div>
            {{hive.currentSubjectiveMeekness}}
        </div>
    </ui-card-content>
    <ui-card-content>
        <beekeeper-superlist [hiveSupers]="hive.hiveSupers"></beekeeper-superlist>
    </ui-card-content>
</ui-card>