<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Health</th>
            <th>Meekness</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hive of hiveList">
            <td><a [routerLink]="['/apiary', currentApiary.id, 'hive', hive.id]">{{hive.name}}</a></td>
            <td>{{hive.type}}</td>
            <td>{{hive.currentSubjectiveHealth}}</td>
            <td>{{hive.currentSubjectiveMeekness}}</td>
            <td><button (click)="editHive(hive)">Edit</button></td>
        </tr>
    </tbody>
</table>