<ul>
    <li>
        <a [routerLink]="['/collections']">Collections</a>
    </li>
    <li *ngIf="currentCollection">
        {{currentCollection.name}}
    </li>
</ul>
<div *ngIf="!hiveList">
    COLLECTION NOT FOUND
</div>
<div *ngIf="hiveList">

    <div *ngIf="hiveList.length > 0">
        <ul>
            <li *ngFor="let hive of hiveList" (click)="navigateTo(hive)">
                {{ hive.name }}
            </li>
        </ul>
    </div>
    <div *ngIf="hiveList.length === 0">
        No Hives
    </div>
    <button (click)="addHive()">Add Hive</button>
</div>